{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Shopping Website</h1>
        <img class="img-fluid" src="{{ asset('images/home.png') }}">
    </div>
{% endblock %}
