{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-danger">Category ID not found</h2>
    <a href="{{ path('category_list') }}" class="text-decoration-underline">BACK</a>
{% endblock %}